@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(255, 192, 203, 0.616);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;
}


.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    font-weight: bold;
    width: 50%;

    
}


.section-title h3{
    font-weight: bold;
}


.icon-style{
    background-color: #bb0aac;
    color: white;
    font-size: 40px;
    border: 3px solid;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    transition: 2s;
}


.icon-style:hover{
    transform: rotate(360deg);
}


/*----------------------
header Start
----------------------*/

.profile-pic{
    width: 60px;
    height: 60px;
    border: 3px solid yellowgreen;
    border-radius: 50%;
    transition: 2s;
}

.profile-pic:hover{
    transform: rotate(360deg);
}

.brand-name{
    color: orange;
    font-family: 'Noto Serif', serif;
    transition: 0.3s;
}


.brand-name:hover{
    text-shadow: 2px 6px 5px black;
    
    
    
}


.banner-contents h1{
    color: whitesmoke;
    font-size: 34px;
    font-weight: bold;
    
}

.banner-container{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 100px;
}

.banner-contents p{
    color: whitesmoke;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
    transition: 1s;
}

.banner-contents p:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px #bb0aac;
    
}






/*----------------------
features Start
----------------------*/
#features{
    padding: 5%;
    background-color: #e8ded2;
}


.features-col{
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 20px 0;
    transition: 0.4s;
}


.features-col:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}


   



/*----------------------
features End
----------------------*/



/*----------------------
Slider Start
----------------------*/
.carousel-item{
    max-height: 550px;
    
    
}

.carousel-item{
    width: 100%;
    height: 100%;
}





/*----------------------
Slider End
----------------------*/







/*----------------------
About Me Start
----------------------*/
#aboutme{
    padding: 5%;
    background-color: #e8d3d2;
    
}

.basic-desc{
    text-align: center;
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 20px 0;
    transition: 0.4s;
}

.basic-desc-img{
    background-color: transparent;
    border: none;
}

.basic-desc-img img{
    text-align: center;
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 20px 0;
    transition: 0.4s;
    
}

.basic-desc-img img:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.single-img{
    width: 50%;
    border: 1px solid;
    overflow: hidden;

    padding: 5px 10px;
}

.basic-desc:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}


.basic-desc p{
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: 300;
    text-align: left;
}

.basic-desc-photo{
    width: 80px;
    height: 80px;
    border: 3px solid yellowgreen;
    border-radius: 50%;
    transition: 1s;
}

.basic-desc-photo:hover{
    transform: rotate(360deg);
}



.achieve-desc{
    text-align: center;
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 20px 0;
    transition: 0.4s;
}

.achieve-desc-slider{
    width: 100%;
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 20px 0;
    transition: 0.4s;
}


.achieve-desc-slider:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.achieve-desc:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}







/*----------------------
About Me End
----------------------*/





/*----------------------
Project Start
----------------------*/
#projects{
    padding: 2%;
    background-color: #a3d2ca;
}
.single-project{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
    border: 1px solid #ff02c0;
}
.single-project:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}


.single-project img{
    border-top-left-radius: 20px;
}


/*----------------------
Project End
----------------------*/




/*----------------------
SkillBar Start
----------------------*/
.SLIDER{
    box-sizing: border-box;
}

.skill-container{
    
    border: 1px solid #ff02c0;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 20px 0;
    transition: 0.4s;

    width: 100%;
}

.skill-container:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.skill-container li{
    list-style-type: none;
    margin: 30px 0;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-left: -40px;
    
    
}


.skill-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;


    background-color: rgb(170, 167, 173);
    width: 100%;
    height: 25px;
    border-radius: 20px;
}





.skill-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;


    background-color: #ff02c0;
    width: 0;
    height: 25px;
    border-radius: 20px;


    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

.skill-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 90%;
        background-color: indigo;
    }
}




.skill-container li.css::after{
    animation-name: css;
}

@keyframes css{
    to{
        width: 70%;
        background-color: green;
    }
}





.skill-container li.js::after{
    animation-name: js;
}

@keyframes js{
    to{
        width: 80%;
        background-color: hotpink;
    }
}





.skill-container li.python::after{
    animation-name: python;
}

@keyframes python{
    to{
        width: 95%;
        background-color: chartreuse;
    }
}



.skill-container li.cpp::after{
    animation-name: cpp;
}

@keyframes cpp{
    to{
        width: 60%;
        background-color: blueviolet;
    }
}



.skill-container li.bootstrap::after{
    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 70%;
        background-color: red;
    }
}
/*----------------------
SkillBar End
----------------------*/






